.hover-overlay a {
  position: relative;
  display: block;
  background: inherit;
}
.hover-overlay a img {
  display: flex;
  margin-bottom: 30px;
}
.hover-overlay .before,
.hover-overlay .after {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.hover-overlay:hover .before,
.hover-overlay:hover .after {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.hover-overlay .before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "linea-arrows-10";
  content: '\e048';
  font-size: 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 2;
}
.hover-overlay .after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: 1;
}
.st-block-overlay {
  position: relative;
  display: block;
  overflow: hidden;
}
.st-block-overlay img {
  display: flex;
}
.st-block-overlay .after,
.st-block-overlay .before {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.st-block-overlay .before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "linea-arrows-10";
  content: '\e048';
  font-size: 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 2;
}
.st-block-overlay .after {
  content: '';
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}
